.App {
  text-align: center;
  background-color: #fcefdf;
  /* min-width: 100vw; */
  
  /* background-color: #fff4e4; */
  /* /* max-width: 1440px; */
  /* margin: 0 auto; */
  padding-top:100px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
